/* font importing */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&family=Poppins:wght@300&family=Raleway:wght@600&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Playfair Display', serif;
/*menu*/
}
main h1{
   color: #221516;
   margin: 0 auto;
   padding-top: 8px;
 }
.logo{
  justify-content: center;
  display: flex;
  flex-direction: column;
}
 nav{
   display: flex;
   justify-content:center;
   padding: 5px;
 } 
 
 nav a {
   padding: 9px;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
   text-decoration: none;
 }
 /*banner*/
 main .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-image: url('../img/banner.png');
  background-size: 100%;
  height: 550px;
  image-orientation: flip;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  object-fit: cover;
}

/*produtos*/
.content{
    max-width: 1000px;
    min-width: 400px;
    margin: 0 auto; /*alinha as coisas ao centro */
    display: flex;
    flex-direction: column;
}

section .catalog {
    width: 100vw;
    padding-top: 40px;
}
  
  section .filter-card {
    width: 980px;
    height: 150px;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
  
  .search-button {
    width: 150px;
    height: 50px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: #f4918d;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.2s ease;
}
  
  .title-wrapper-catalog {
    margin-top: 200px;
    padding-bottom: 20px;
}
  
  section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
}
  
  section .card-item {
    height: 400px;
    background: #d3d3d3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
  
  .card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .card-content h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .card-item img {
    width: 50%;
  }
  
  .card-item h4 {
    width: 90%;
  }
  
  .card-item p {
    width: 90%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-align: center;
  }
  
  .card-item button {
    width: 90%;
    padding: 15px 0px;
    border: none;
    background: #a9a9a9;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .card-item button:hover {
    background:#dcdcdc;
    }

    .info p{
    text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     width: 100%;
     height: 100px;
     padding-top: 20px;
    }
    /* .img-info{
      justify-content: center;
    } */
    /* .img-info img{
      width: 50%;
      height: 25%;
      margin: 0px 10px 10px 0;
      padding-right: 100px;
      
    } */

  .footer{
    width: 100%;
     height: 200px;
     padding-top: 20px;
     border: 5px solid rgba(0, 0, 0, .4);
     background-color: black;
  }
  .footer p{
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
   }


/*Responsividade*/
  @media only screen and (max-width: 586px) {
    main .logo {
      display: none;
      visibility: hidden;
    }

    main{
      width: 100vw;
  }
}

@media screen  and (min-width:586px){
    main .menu{
      display: none;
      visibility: hidden;
    }

    main ul {
      display: none;
      visibility: hidden;
    }

    main .bar{
      display: none;
      visibility: hidden;
    }
}

