/* font importing */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&family=Poppins:wght@300&family=Raleway:wght@600&display=swap');


::root{
  --pink:#f4918d;
  --LowPink:#ffaaa3;
  --pinkgroove: #a51a41;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Playfair Display', serif;

}
 h1{
   color: #221516;
   margin: 0 auto;
 }

.content{
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto; /*alinha as coisas ao centro */
    display: flex;
    flex-direction: column;
}

section .catalog {
    width: 100vw;
    padding-top: 100px;
}
  
  section .filter-card {
    width: 980px;
    height: 150px;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
  
  .search-button {
    width: 150px;
    height: 50px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: #f4918d;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.2s ease;
}
  
  .search-button:hover {
    background: #dedede;
    color: #f4918d;
}
  
  .title-wrapper-catalog {
    margin-top: 200px;
    padding-bottom: 20px;
}
  
  section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
}
  
  section .card-item {
    height: 400px;
    background: #d3d3d3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
  
  .card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
  
  .card-item img {
    width: 50%;
  }
  
  .card-item h4 {
    width: 90%;
  }
  
  .card-item p {
    width: 90%;
    font-style: italic;
    color: #00000070;
  }
  
  .card-item button {
    width: 90%;
    padding: 15px 0px;
    border: none;
    background: #a9a9a9;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
  }
  
  .card-item button:hover {
    background:#dcdcdc;
  }
  
  
main .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url('../img/banner.png');
    background-size: 100%;
    height: 550px;
    image-orientation: flip;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    object-fit: cover;
}